{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<html>

<div class='p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end'>
<body style="background-color:powderblue;">
    <footer id="footer bg-dark">
        <div class="footer-top">
        <div class="container">
        <div class="row">
        <div class="col-xs-12 col-sm-3">
        <div class="footer-widget">
        <h2>About Us</h2>
        <p align="justify">Beauty Parlor. Salon is a renowned salon chain, with branches across Lahore. The Beauty Salon has successfully been providing top quality professional treatments since 2002 and boasts state-of-the-art infrastructure and certified services. </p>
        </div>
        </div>
        <div class="col-xs-12 col-sm-3">
        <div class="footer-widget">
        <h2>Quick Links</h2>
        <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/services">Services</a></li>
        
        
        <li><a href="/contact">Contact Us</a></li>
        </ul>
        </div>
        </div>
        <div class="col-xs-12 col-sm-3">
        <div class="footer-widget">
        <h2>Contact Info</h2>
        <ul>
        <li><i class="fa fa-phone" aria-hidden="true"></i> +92 999999999</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i> +92 999999999</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i> +92 999999999</li>
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@beauty_parlor.com</li>
        </ul>
        </div>
        </div>
        <div class="col-xs-12 col-sm-3">
        <div class="footer-widget">
        <h2>Business hour</h2>
        <ul class="bussiness-hour">
        <li>Start Time: <span class="pull-right">11am </span></li>
        <li>End Time: <span class="pull-right">8pm </span></li>
        
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="footer-bottom">
        <div class="container">
        <div class="row">
        <div class="col-xs-12">
        <div class="copyright text-center">
        {% comment %} <p>©copyright 2016 Amina.Z| All right reserved.</p> {% endcomment %}
        </div>
        </div>
        </div>
        </div>
        </div>
        </footer>
</div>
</body>
</html>





{% endblock body %}
