{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}

<div class="container mb-4 ">
    <h1 class="my-4 text-center fst-italic">SALON SERVICES</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="static/img/home1.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <p class="card-text">HAIR STYLE</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href='http://127.0.0.1:8000/hair_style'>
                               <button type="button" class="btn btn-outline-info">Read more</button>
                            </a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static/img/home6.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <p class="card-text">MAKEUP</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href='http://127.0.0.1:8000/makeup'>
                                <button type="button" class="btn btn-outline-info">Read more</button>
                            </a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static/img/home4.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <p class="card-text">EXCLUSIVE NAILS</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href='http://127.0.0.1:8000/nail'>
                                <button type="button" class="btn btn-outline-info">Read more</button>
                            </a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="static/img/home5.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <p class="card-text">BODY MASSAGE</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href='http://127.0.0.1:8000/body_massage'>
                                <button type="button" class="btn btn-outline-info">Read more</button>
                            </a>    
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static/img/home7.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <p class="card-text">HAIR CARE</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href='http://127.0.0.1:8000/hair_care'>
                                <button type="button" class="btn btn-outline-info">Read more</button>
                            </a>    
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="static/img/home8.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <p class="card-text">SKIN CARE</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="http://127.0.0.1:8000/skin_care">
                              <button type="button" class="btn btn-outline-info">Read more</button>
                            </a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='p-3 bg-info bg-opacity-10 mb-4 border border-info border-start-0 rounded-end'>
    <body style="background-color:powderblue; ">
      <footer id="footer">
          <div class="footer-top">
          <div class="container">
          <div class="row">
          <div class="col-xs-12 col-sm-3">
          <div class="footer-widget">
          <h2>About Us</h2>
          <p align="justify">Beauty Parlor. Salon is a renowned salon chain, with branches across Lahore. The Beauty Salon has successfully been providing top quality professional treatments since 2002 and boasts state-of-the-art infrastructure and certified services. </p>
          </div>
          </div>
          <div class="col-xs-12 col-sm-3">
          <div class="footer-widget">
          <h2>Quick Links</h2>
          <ul>
          <li><a href="best-professional-beauty-salon.html">About Us</a></li>
          <li><a href="services.html">Services</a></li>
          
          
          <li><a href="contact-us.html">Contact Us</a></li>
          </ul>
          </div>
          </div>
          <div class="col-xs-12 col-sm-3">
          <div class="footer-widget">
          <h2>Contact Info</h2>
          <ul>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +92 999999999</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +92 999999999</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +92 999999999</li>
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@beauty_parlor.com</li>
          </ul>
          </div>
          </div>
          <div class="col-xs-12 col-sm-3">
          <div class="footer-widget">
          <h2>Business hour</h2>
          <ul class="bussiness-hour">
          <li>Start Time: <span class="pull-right">11am </span></li>
          <li>End Time: <span class="pull-right">8pm </span></li>
          
          </ul>
          </div>
          </div>
          </div>
          </div>
          </div>
          <div class="footer-bottom">
          <div class="container">
          <div class="row">
          <div class="col-xs-12">
          <div class="copyright text-center">
          {% comment %} <p>©copyright 2016 Amina.Z| All right reserved.</p> {% endcomment %}
          </div>
          </div>
          </div>
          </div>
          </div>
          </footer>
  
      </body>

{% endblock body %}